/*! universal tag is used for all of my html file control */
*{
    background-color: black;
    color: white;
    /* font-size:20px; */
}
/*? universal tag ends here */
h1, h2{
    color: #2BFF00;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    text-shadow: .1rem .1rem gainsboro;
}
a{
    color: #DF11A8;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    
}
a li{
    color: #DF11A8;
    font-size: 40px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*? social media section start here */
#social{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
/*! social media section start here */

.about{
    font-size: 30px;
    color:white;
    font-weight: normal;
}
li{
    font-size: 30px;
    text-indent: 10%;
    
}
.address{
    font-size: 40px;
    color: white;
    text-align: center;
    text-decoration: double;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.info,a{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.info {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display:inline-block;
    
}
div div nav p{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a:hover{
    color: white;
    
}

.paragraph{
    text-align: center;
}

/* h1::first-line{
    color: white;
} */
